/Addons
/MiKTeX.basic
/MiKTeX.basic-x86
/MiKTeX.full
/MiKTeX.full-x86
/Ghostscript
/Ghostscript-x86
/GSview
/GSview-x86
/Patches
/WinEdt
/WinEdt-x86
Repair.exe
MiKTeX-*-X??.7z
Ghostscript-*-X??.7z
GSview-*-X??.7z
WinEdt-*-X??.7z
